.azeret-mono {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

#button {
    width: 150px;
    height: 48px;
    font-size: 20px;
    background-color: white;
    border: 1px solid rgb(13, 19, 33);
}

/* navigation-section-style */

.nav-container {
    display: flex;
    margin: 50px 150px;
    justify-content: space-between;
}

.btn-container {
    width: 228px;
    height: 58px;
    font-size: 20px;
    background-color: white;
    border-radius: 8px;
}

/* hero-section-style */

.hero-section-container {
    width: 1900px;
    height: 565px;
    background-image: url('../assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 26px;

}

.hero-container button {
    width: 208px;
    height: 66px;
    color: white;
    background-color: #0D1321;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    margin-top: 20px;
}

.hero-container img {
    margin-bottom: 20px;
}

.hero-container h1 {
    margin-bottom: 10px;
}

/* developer-section-style */
.developer-section-container {
    width: 1650px;
    height: 1280px;
    margin: 70px auto;
    background-color: rgba(13, 19, 33, 0.02);
    padding: 80px;
}

.developer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    margin-bottom: 30px;
}
.developer-container h1{
    font-size: 32px;
}

.developer-container2{
    background-color: white;
    padding: 50px;
    margin-bottom: 30px;    
}
.dev-sub-container2{
    display: flex;
    gap: 700px;
}
.dev-sub-container2 p{
    margin-bottom: 60px;
}

.developer-container3{
    background-color: white;
    padding: 50px;
    margin-bottom: 30px; 
}

.dev-sub-container3{
    display: flex;
    gap: 100px;
}
.dev-sub-container3 p{
    margin-bottom: 60px;
}

.developer-container4{
    background-color: white;
    padding: 50px;
    
}
.dev-sub-container4{
    display: flex;
    gap: 700px;
}
.dev-sub-container4 p{
    margin-bottom: 60px;
}