.azeret-mono {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

#button {
    width: 150px;
    height: 48px;
    font-size: 20px;
    background-color: white;
    border: 1px solid rgb(13, 19, 33);
}

/* navigation-section-style */

.nav-container {
    display: flex;
    margin: 50px 150px;
    justify-content: space-between;
}

.btn-container {
    width: 228px;
    height: 58px;
    font-size: 20px;
    background-color: white;
    border-radius: 8px;
}

/* hero-section-style */

.hero-section-container {
    width: 1893px;
    height: 565px;
    background-image: url('../assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 26px;

}

.hero-container button {
    width: 208px;
    height: 66px;
    color: white;
    background-color: #0D1321;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    margin-top: 20px;
}

.hero-container img {
    margin-bottom: 20px;
}

.hero-container h1 {
    margin-bottom: 10px;
}


/* developer-section-style */

.developer-section-container {
    width: 1650px;
    height: 1280px;
    margin: 70px auto;
    background-color: rgba(13, 19, 33, 0.02);
    padding: 80px;
}

.developer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    margin-bottom: 30px;
}

.developer-container h1 {
    font-size: 32px;
}

.developer-container2 {
    background-color: white;
    padding: 50px;
    margin-bottom: 30px;
}

.dev-sub-container2 {
    display: flex;
    gap: 700px;
}

.dev-sub-container2 p {
    margin-bottom: 60px;
}

.developer-container3 {
    background-color: white;
    padding: 50px;
    margin-bottom: 30px;
}

.dev-sub-container3 {
    display: flex;
    gap: 100px;
}

.dev-sub-container3 p {
    margin-bottom: 60px;
}

.developer-container4 {
    background-color: white;
    padding: 50px;

}

.dev-sub-container4 {
    display: flex;
    gap: 700px;
}

.dev-sub-container4 p {
    margin-bottom: 60px;
}

/* inspiration-section-style */

.inspiration-section-container {
    width: 1650px;
    height: 990px;
    margin: 88px auto;
}

.inspiration-section-container div {

    text-align: center;
}

.inspiration-container {
    width: 1650px;
    height: 800px;
    margin-top: 60px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}

.inspiration-section-container h1 {
    font-size: 32px;
}

.inspiration-video-container {
    padding: 48px;
}

/* my current target section style */

.my-current-target-section {
    width: 1650px;
    height: 460px;
    margin: 0 auto;
}

.target-container {
    text-align: center;
}

.target-container h1 {
    font-size: 32px;
}

.target-container p {
    margin-bottom: 48px;
}

.target-items {
    display: flex;
    justify-content: space-around;
}

.learn-more {
    font-family: "Azeret Mono", monospace;
    text-decoration-line: underline;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: white;
}

.learn-more-html {
    background-color: rgba(255, 76, 30, 0.05);
}

.learn-more-css {
    background-color: #F2F6FE;
}

.learn-more-js {
    background-color: #FFFDF2;
}

.html {
    width: 364px;
    height: 283px;
    background-color: rgba(255, 76, 30, 0.05);
    /* background: rgba(255, 76, 30, 0.05); */

}

.html div {
    padding: 30px;
}

.css {
    width: 364px;
    height: 283px;
    background-color: rgba(0, 76, 232, 0.05);
}

.css div {
    padding: 30px;
}

.java {
    width: 364px;
    height: 283px;
    background-color: rgba(255, 223, 0, 0.05);
}

.java div {
    padding: 30px;
}

/* future-learning-style */

.future-learning {
    width: 1650px;
    height: 886px;
    margin: 110px auto;
}

.future-learning-container {
    text-align: center;
}

.future-learning-container h1 {
    font-size: 32px;
}

.future-learning-items {
    padding: 30px;
    border: 1px solid black;
    border-radius: 16px;
    margin-top: 48px;
}

.react-nodejs-mongodb {
    display: flex;
    gap: 70px;
}

/* support-section-style */


.support-section {
    width: 1650px;
    height: 380px;
    border-radius: 16px;
    margin: 0 auto;
    background: linear-gradient(rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.548), rgba(0, 0, 0, 0.2)), url('../assets/handshake.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.support-section>div {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.support-section h1 {
    margin-top: 120px;
    font-size: 32px;
}

.support-content {

    margin: 100px;
}

.content p {
    color: rgba(255, 255, 255, 0.562);
}

.button-input-container {
    margin-top: 27px;
}

.button-input-container input[type="text"] {
    width: 548px;
    height: 30px;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

.button-input-container input[type="submit"] {
    width: 120px;
    height: 50px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
}

/* footer-section-style */

.footer-section {
    width: 1890px;
    height: 85px;
    margin-top: 80px;
    background: rgba(13, 19, 33, 0.03);
}
.footer-container{
    display: flex;
    justify-content: space-between;
}
.content{
    font-size: 20px;
}
.social-link{
    margin: 20px;
    justify-content: center;
}